html {
	background-color: #eee;
}

.message-container {
    text-align: center;
    max-width: 70%;
    margin: 6% auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;
    background-color: #f5f5f5;
    color: #666;
    font-family: arial;
    border-radius: 5px;
    padding: 20px;
}

.message-container h1 {}

.message-container p {}
